#player,#player a{ color:#999; font-family: georgia; font-size: 10px;}
#player{ background:url(http://static.tumblr.com/kwaqeuc/DImlz7nz6/sizerandvol3.png); background-position:bottom; background-color: #fff; font-size: 10px;}
#player .mainImage{ background:url(http://static.tumblr.com/auawftz/peZlzaap1/sem-t__tulo-1.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(http://static.tumblr.com/auawftz/tF1lzaarm/unt.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#fff;  }
#player #seekerBuffered{ background-color:#ddd; }
#player #seekerSliderBase{ background-color:#ccc; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(http://static.tumblr.com/kwaqeuc/DImlz7nz6/sizerandvol3.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#333;}
#playlist .module{  color:#333; background-color:#fff; }
#playlist h3{ background:url(http://dl.dropbox.com/u/58708531/bar2.jpg); color:#333; background-color:#fff;  }
#playlist .even{background-color:#fff;}
#playlist .odd{ background-color:#fff;}
#playlist .focus{ background-color:#fff; color:#333;}
